.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #0d1117;
    display: flex;
    flex-direction: column;
}

main article {
    flex: 1;
}

.sidebar {
    background: linear-gradient(180deg, #1f2937 0%, #111827 100%);
}

@media (max-width: 640.98px) {
    .page {
        flex-direction: column;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    main {
        width: calc(100% - 250px);
    }

    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
        padding-top: 2rem;
    }
}

#blazor-error-ui {
    background: #b32121;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.5);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
